head{
  background-color: #9370DB
}
h1{
  color: #90EE90;
  text-align: center;
  padding-top: 15px
}
p{
  color: #90EE90;
  text-align: center;
}
.headerp{
  color: #FFFDD0
}
.About{
  text-align: left;
}






.header-info{
  background-image: url('https://live.staticflickr.com/3718/9034474932_90fa7458d6_z.jpg');
  background-position: center;
  background-size: 1424px 95px;
  width: 100%;
  height: 95px;
}
.header{
  color: #9370DB;
}
