h1 {
  color: #90EE90;
  border-color: #C0C0C0;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-family: 'Titillium Web', sans-serif;
}

h2 {
  font-family: 'Titillium Web', sans-serif;
  color: #90EE90;
  text-align: center;
}

.header-info {
  display: inline-block;
}

.Ableton {
  height: 20%;
  display: inline-block;
  margin-left: 35%;
  margin-right: auto;
  width: 20%;
}

.flstu {
  height: 15%;
  display: inline-block;
  margin-left: 2%;
  margin-right: auto;
  width: 20%;
}

.webdevphoto {
  height: 35%;
  display: block;
  margin-left: auto;
  margin-right: 2%;
  width: 35%;
  float: left;
  text-align: center;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.contact_me {
  text-align: center;
}

body {
  background-color: #9370DB;
}

label {
  color: #9370DB;
}

.header {
  color: #90EE90;
  text-align: left;
}

.index {
  color: #C0C0C0;
}

.AboutMe {
  color: #9370DB;
}

.about_me {
  text-align: center;
}

.SKillP {
  text-align:
    left;
  margin-left: 10%
}

.contact-me {
  text-align: center;
}

.footer {
  text-align: center;
}

.contactme {
  color: #9370DB
}

h3 {
  color: #C0C0C0;
  text-align: center;
}

table {
  margin: 0 auto 0;
  width: 100%;
}

th {
  color: #C0C0C0
}

p {
  color: #90EE90;
  text-align: center;
}

ul {
  color: #C0C0C0;
  text-align: center;
}

td {
  color: #C0C0C0;
}

img {
  height: 150px;
  width: 150px;
}

h4 {
  color: #C0C0C0
}

hr {
  background-color: #C0C0C0;
  border-style: none;
  width: 40%;
  height: 2px;
}
.govRoles{
  color: #C0C0C0
}
